.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #eeeeee11;
  

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  opacity: 10% !important;

}

.swiper-button-next {
  opacity: 10% !important;

}

.swiper-button-prev:hover {
  opacity: 40% !important;
}

.swiper-button-next:hover {
  opacity: 40% !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}