

.swiper-button-prev {
  opacity: 10% !important;

}

.swiper-button-next {
  opacity: 10% !important;

}

.swiper-button-prev:hover {
  opacity: 40% !important;
}

.swiper-button-next:hover {
  opacity: 40% !important;
}
