@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
.MyContainer{
    @apply lg:max-w-[1400px] md:max-w-[90%] max-w-[97%] mx-auto px-2
}

.active{
    @apply bg-[#f55400]  text-white my-px  md:mx-2 font-semibold
}
.default{
    @apply md:mx-2 my-px border border-[#f55400] bg-transparent text-[#f55400] font-semibold
}

.fontA{
    font-family: 'Poppins', sans-serif;
}

.fontB{
    font-family: 'Josefin Sans', sans-serif;
}

.button{
   @apply btn border border-[#f55400] text-[#f55400] hover:text-white hover:bg-[#f55400]
}